@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    /* color: gray; */
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    
}
.main{
    display: flex;
    margin-top: 20px;
}
.main p{
    margin-top: 70px;
    margin-left: 220px;
    list-style-type: none;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0px;
}
.main h3{
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 0px;
    margin-right: 400px;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    border: 1px solid orange;
    background-color: orange;
    color: aliceblue;
}
.main h3:hover{
    background-color: white;
    color: orange;
}
.main img{
    margin-left: 20px;
    width: 470px;
}

/* -----------------------------------------------------------------------Middle---------------------------------------------------------------------- */

.Categories{
    display: flex;
    margin-top: 40px;
    text-align: center;
}
.Categories-1{
    margin-left: 150px;
    padding: 100px 100px 250px 70px;
    border: 1px solid black;
    background-color: rgb(111, 210, 111);
    color: white;
    backface-visibility: visible;
}
.Categories-2{
    margin-left: 90px;
    padding: 100px 125px 250px 125px;
    border: 1px solid black;
    background-color: rgb(189, 167, 138);
    color: white;
}
.Categories-3{
    margin-left: 100px;
    padding: 100px 120px 250px 120px;
    border: 1px solid black;
    background-color: skyblue;
    color: white;
}
.absolute1{
    position: relative;
    bottom: 180px;
    left: 65px;
}
.absolute2{
    position: relative;
    bottom: 125px;
    left: 50px;
}
.absolute3{
    position: relative;
    bottom: 125px;
    left: 38px;
}


/* -------------------------------------------------------------------------Choose---------------------------------------------------------------------- */

.choose-container-1{
    margin-left: 100px;
    margin-top: 50px;
}
.choose-container-1 p{
    font-size: 20px;
    color: rgb(177, 167, 167);
}
.choose-container-2{
    margin-left: 100px;
    margin-top: 70px;
}
.choose-container-2 p{
    font-size: 20px;
    color: rgb(177, 167, 167);
}

.Organic{
    margin: 40px 0px 0px 80px;
}
.Organic img{
    margin: 10px;
}


---------------------------------------------------------------Product---------------------------------------------------------------------------------

.bottom-menu{
    list-style-type: none;
    display: flex;
    margin-left: 500px;
}
.bottom-menu button{
    outline: none;
    border: none;
    font-size: 20px;
    background-color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    border-radius: 20px;
    color: green;
}
.bottom-menu li{
    list-style-type: none;
    margin-left: 50px;
    padding-bottom: 10px;
    background-color: white;
    /* border-bottom: 1px solid gray; */
}
.bottom-menu button:focus{
    background-color: green;
    color: white;
    border-radius: 20px;
}
.bottom-menu button:hover{
    color: white;
    background-color: green;
    border-radius: 20px;
}

.Fruits-top1{
    padding: 20px 0px 0px 20px;
}
.Fruits-top1 h2{
    text-align: center;
}
.Fruits-top-1 li{
    margin-top: 10px;
    margin-left: 10px;
    color: orange;
}
.Fruits-top1 p{
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: green;
    border: 1px solid gray;
}
.Fruits-top1 p:hover{
    background-color: green;
    color: white;
}
.Fruits-top1:hover{
    box-shadow: 0px 0px 10px gray;
}
.bi bi-cart3{
    color: green;
}