@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    /* color: gray; */
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    
}
.top-menu{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding-bottom: 20px;
    background-color: white;
}
.top-menu li {
    margin-left: 65px;
    text-decoration: none;
    color: gray;
}
.top-menu ul{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}
.search-menu-btn{
    margin-top: 20px;
    margin-left: 90px;
    color: black;
}
.search-menu-btn:focus{
    box-shadow: 0 0 5px orange;
}
.top-menu input{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(215, 188, 137);
    outline: none;
}
#sign-bt:hover{
    background-color: white;
    color: orange;
}
#sign-bt{
    background-color: orange;
    padding: 8px;
    border: 1px solid black;
    color: white;
    border-radius: 2px;
}